@charset "utf-8";
header,section{
    border: 1px solid grey;
}
main{
    max-width: 800px;
    margin: auto;
}
main{
    display: grid;
    grid-template-areas:
     "h h h"
<<<<<<< HEAD
     "s s s"
     "s s s"
     "s s s";
    grid-template-columns: 1fr 1fr 1fr;
}

img {
    width: 250px;
=======
     "s s s";
>>>>>>> 6ff9c2004cea4f1d41a917cab7c061d8776a0797
}

header{
    grid-area: h;
}
section{
     grid-area: s;
}

