@charset "utf-8";
header,section,footer{
    border: 1px solid grey;
}
main{
    max-width: 800px;
    margin: auto;
}
main{
    display: grid;
    grid-template-areas:
     "h h h"
     "s s s"
     "f f f";
}

img {
    width: 250px;
    padding: 5px;
}

header{
    grid-area: h;
    text-align: center;
}
section{
     grid-area: s;
}
footer{
   grid-area: f; 
   text-align: center;
   padding: 5px;
}
button{
    margin: 20px;
}