@charset "utf-8";
header,section{
    border: 1px solid grey;
}
main{
    max-width: 800px;
    margin: auto;
}
main{
    display: grid;
    grid-template-areas:
     "h h h"
     "s s s"
     "s s s"
     "s s s";
    grid-template-columns: 1fr 1fr 1fr;
}

img {
    width: 250px;
}

header{
    grid-area: h;
}
section{
     grid-area: s;
}

